# 1. Data Wrangling <a id="data_wrangling"></a>

<a id="contents"></a>
# Table of Contents  
1. [Data Wrangling](#data_wrangling)
    - [1.1 Introduction](#introduction)
    - [1.2 Imports](#imports)
    - [1.3 Load Datasets](#load)
    - [1.4 Dataset Cleaning](#cleaning)

## 1.1 Introduction<a id="introduction"></a>

### Problem
Real estate investors need to identify profitable investment opportunities in dynamic markets. Understanding market trends and segmenting opportunities based on risk and return profiles is crucial for optimizing investment strategies. The goal of this project is to maximize investment returns by leveraging data-driven approaches to identify undervalued properties, forecast market trends, and optimize portfolio allocations.


### Clients
The findings of this study will be of interest to a broad range of stakeholders, specifically real estate investors, portfolio managers, and real estate agents and brokers who can benefit from understanding market trends and leverage the insights from the project to provide more accurate and data-driven recommendations.


### Data
For this project, we have identified multiple data sources to ensure we have approprirate features and targets for our model. 

Data Sources:
1) **FHFA House Price Index (HPI):** This is a broad measure of the movement of single-family house prices. The HPI is a weighted, repeat-sales index, meaning that it measures average price changes in repeat sales or refinancings on the same properties. This information is obtained by reviewing repeat mortgage transactions on single-family properties whose mortgages have been purchased or securitized by Fannie Mae or Freddie Mac since January 1975. The data file coveres dates from 1991 through 2014. 
(Link to dataset: https://www.fhfa.gov/data/hpi/datasets) 
2) **Zillow Home Value Index (ZHVI):** A measure of the typical home value and market changes across the US by housing type. It reflects the typical value for homes in the 35th to 65th percentile range. 
3) **Zillow Observed Rent Index (ZORI):** ZORI is a repeat-rent index that is weighted to the rental housing stock to ensure representativeness across the entire market, not just those homes currently listed for-rent. The index is dollar-denominated by computing the mean of listed rents that fall into the 35th to 65th percentile range for all homes and apartments across the US, which is weighted to reflect the rental housing stock.
4) **Zillow Observed Renter Demand Index (ZORDI):** ZORDI tracks engagement on Zillowâ€™s rental listings to proxy changes in rental demand. 

Link to Zillow datasets: https://www.zillow.com/research/data/

## 1.2 Imports

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import os
import csv
from tqdm.notebook import tqdm
from datetime import datetime, timezone

## 1.3 Load Datasets<a id="load"></a>

To begin, we are focusing the data on the regions wihthin New York State (NY) in the US. After loading all the datasets in to the notebook, we will filter out any region/location that is not in NY.

In [2]:
# Folder path where the CSV files are located
folder_path = '/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone 3/Datasets'

# List all files in the folder
file_list = os.listdir(folder_path)

# Filter only CSV files
csv_files = [file for file in file_list if file.endswith('.csv')]

# Dictionary to store DataFrames
dataframes = {}

# Load each CSV file into a DataFrame
for file in csv_files:
    # Construct the full file path
    file_path = os.path.join(folder_path, file)
    # Read the CSV file into a DataFrame
    df_name = file.split('.')[0]  # Use file name without extension as DataFrame name
    dataframes[df_name] = pd.read_csv(file_path)

# Example usage:
# Access each DataFrame by its name in the 'dataframes' dictionary
hpi_df = dataframes['HPI']
zori_df = dataframes['ZORI']
zhvi_df = dataframes['ZHVI']
zordi_df = dataframes['ZORDI']

# Example: Print first few rows of each DataFrame
print("First few rows of HPI dataset:")
print(hpi_df.head())

print("\nFirst few rows of ZORI dataset:")
print(zori_df.head())

print("\nFirst few rows of ZHVI dataset:")
print(zhvi_df.head())

print("\nFirst few rows of ZORDI dataset:")
print(zordi_df.head())

First few rows of HPI dataset:
      hpi_type     hpi_flavor frequency                   level  \
0  traditional  purchase-only   monthly  USA or Census Division
1  traditional  purchase-only   monthly  USA or Census Division
2  traditional  purchase-only   monthly  USA or Census Division
3  traditional  purchase-only   monthly  USA or Census Division
4  traditional  purchase-only   monthly  USA or Census Division

                    place_name place_id    yr  period  index_nsa  index_sa
0  East North Central Division   DV_ENC  1991       1     100.00    100.00
1  East North Central Division   DV_ENC  1991       2     100.89    100.94
2  East North Central Division   DV_ENC  1991       3     101.30    100.91
3  East North Central Division   DV_ENC  1991       4     101.68    100.97
4  East North Central Division   DV_ENC  1991       5     102.30    101.33

First few rows of ZORI dataset:
   RegionID  SizeRank       RegionName RegionType StateName   2015-01-31  \
0    102001         0    United States    country       NaN  1249.373960
1    394913         1     New York, NY        msa        NY  2367.192976
2    753899         2  Los Angeles, CA        msa        CA  1837.427194
3    394463         3      Chicago, IL        msa        IL  1468.134653
4    394514         4       Dallas, TX        msa        TX  1134.504105

    2015-02-28   2015-03-31   2015-04-30   2015-05-31  ...   2023-08-31  \
0  1256.237020  1265.510357  1274.932310  1284.474411  ...  1998.753997
1  2382.571737  2401.539081  2422.672212  2438.582398  ...  3307.820390
2  1849.547708  1865.989125  1879.685455  1895.125195  ...  2909.521551
3  1475.150295  1485.661386  1495.502790  1506.469332  ...  2049.298879
4  1140.415070  1148.764148  1161.015298  1171.105302  ...  1829.341700

    2023-09-30   2023-10-31   2023-11-30   2023-12-31   2024-01-31  \
0  2002.235958  1999.850052  1994.693364  1991.435253  1993.910894
1  3307.100123  3290.688742  3266.912388  3248.128009  3250.940480
2  2913.612343  2909.510225  2894.341223  2884.940765  2887.935741
3  2047.307513  2040.107280  2031.619827  2033.812602  2042.457037
4  1825.975948  1817.647644  1810.334109  1801.635295  1796.988925

    2024-02-29   2024-03-31   2024-04-30   2024-05-31
0  2001.597254  2012.428422  2024.431809  2036.145271
1  3268.250170  3300.274868  3329.652092  3362.964558
2  2899.792270  2916.772410  2927.193682  2941.924995
3  2056.181845  2069.139057  2090.436255  2109.666842
4  1793.043790  1796.823510  1802.430130  1811.364920

[5 rows x 118 columns]

First few rows of ZHVI dataset:
   RegionID  SizeRank       RegionName RegionType StateName     2000-01-31  \
0    102001         0    United States    country       NaN  122832.274553
1    394913         1     New York, NY        msa        NY  216493.374061
2    753899         2  Los Angeles, CA        msa        CA  229338.252054
3    394463         3      Chicago, IL        msa        IL  154189.838648
4    394514         4       Dallas, TX        msa        TX  128202.509323

      2000-02-29     2000-03-31     2000-04-30     2000-05-31  ...  \
0  123048.375901  123316.373392  123891.175404  124552.703606  ...
1  217413.348751  218341.844065  220223.334853  222171.683720  ...
2  230191.681333  231328.440994  233590.210855  236063.878014  ...
3  154332.573521  154604.414602  155280.687654  156094.162793  ...
4  128259.611168  128325.255585  128495.727241  128720.489451  ...

      2023-08-31     2023-09-30     2023-10-31     2023-11-30     2023-12-31  \
0  351326.776628  352568.687984  353498.016711  354156.373278  354593.279543
1  624002.861164  626734.058777  629084.958977  631401.034576  634169.169027
2  916234.296319  930436.672830  942253.169575  951145.735836  956729.838248
3  307602.049941  309449.736064  310825.383091  311747.281966  312386.932046
4  378216.348299  378639.427400  378756.143030  378614.731567  378282.478284

      2024-01-31     2024-02-29     2024-03-31     2024-04-30     2024-05-31
0  355028.057590  355824.822434  357374.362080  359240.114070  360681.294250
1  637058.614303  641103.485128  646508.747102  652619.099940  657279.223513
2  956889.213358  953824.655681  952665.578913  956266.687926  962388.491425
3  313052.263762  314448.396304  316875.294320  319764.144323  321897.252361
4  378304.540828  378794.935401  379972.349667  380957.392395  381103.625851

[5 rows x 298 columns]

First few rows of ZORDI dataset:
   RegionID  SizeRank       RegionName RegionType StateName  2020-06-30  \
0    102001         0    United States    country       NaN       100.0
1    394913         1     New York, NY        msa        NY        53.0
2    753899         2  Los Angeles, CA        msa        CA       134.0
3    394463         3      Chicago, IL        msa        IL        97.0
4    394514         4       Dallas, TX        msa        TX       108.0

   2020-07-31  2020-08-31  2020-09-30  2020-10-31  ...  2023-08-31  \
0       102.0        95.0        85.0        74.0  ...        81.0
1        51.0        53.0        58.0        58.0  ...       119.0
2       132.0       116.0        96.0        81.0  ...       121.0
3        91.0        72.0        50.0        39.0  ...       116.0
4       104.0        91.0        80.0        72.0  ...        58.0

   2023-09-30  2023-10-31  2023-11-30  2023-12-31  2024-01-31  2024-02-29  \
0        70.0        62.0        53.0        54.0        63.0        73.0
1       113.0       101.0        87.0        88.0       100.0       111.0
2       104.0        88.0        74.0        75.0        84.0        91.0
3       106.0        96.0        85.0        90.0       115.0       141.0
4        48.0        41.0        36.0        39.0        46.0        52.0

   2024-03-31  2024-04-30  2024-05-31
0        76.0        77.0        78.0
1       111.0       112.0       113.0
2        87.0        88.0        90.0
3       150.0       150.0       151.0
4        53.0        52.0        52.0

[5 rows x 53 columns]

## 1.4 Dataset Cleaning

To clean the data set, we need to first melt the dataframe so that the Date columns are rows in order to make data manipulation easier. We will then combine the datasets in order to perform a more comprehensive analysis of the real estate market in New York.

In [3]:
ny = ['New York', 'NY']

#Filter each df based on states in the Northeast.
hpi_ny = hpi_df[hpi_df['place_name'].isin(ny)]
zori_ny = zori_df[zori_df['StateName'].isin(ny)]
zhvi_ny = zhvi_df[zhvi_df['StateName'].isin(ny)]
zordi_ny = zordi_df[zordi_df['StateName'].isin(ny)]

In [4]:
zori_ny.loc[:, 'SourceDataset'] = 'ZORI'
zhvi_ny.loc[:, 'SourceDataset'] = 'ZHVI'
zordi_ny.loc[:, 'SourceDataset'] = 'ZORDI'

/var/folders/9q/j_dp7nx93lbc_t5zbbshxpch0000gn/T/ipykernel_95009/1393036893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_ny.loc[:, 'SourceDataset'] = 'ZORI'
/var/folders/9q/j_dp7nx93lbc_t5zbbshxpch0000gn/T/ipykernel_95009/1393036893.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zhvi_ny.loc[:, 'SourceDataset'] = 'ZHVI'
/var/folders/9q/j_dp7nx93lbc_t5zbbshxpch0000gn/T/ipykernel_95009/1393036893.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zordi_ny.loc[:, 'SourceDataset'] = 'ZORDI'

In [5]:
# Melt operation for zori_northeast
zori_ny = zori_ny.melt(id_vars=['SourceDataset', 'RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'],
                                     var_name='Date', value_name='Value')

# Melt operation for zhvi_northeast
zhvi_ny = zhvi_ny.melt(id_vars=['SourceDataset', 'RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'],
                                     var_name='Date', value_name='Value')

# Melt operation for zordi_northeast
zordi_ny = zordi_ny.melt(id_vars=['SourceDataset', 'RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'],
                                       var_name='Date', value_name='Value')

In [6]:
updated_df = pd.concat([zori_ny, zhvi_ny, zordi_ny], ignore_index=True)
updated_df

,SourceDataset,RegionID,SizeRank,RegionName,RegionType,StateName,Date,Value
0,ZORI,394913,1,"New York, NY",msa,NY,2015-01-31,2367.192976
1,ZORI,394425,50,"Buffalo, NY",msa,NY,2015-01-31,805.691732
2,ZORI,395031,52,"Rochester, NY",msa,NY,2015-01-31,947.847866
3,ZORI,394308,64,"Albany, NY",msa,NY,2015-01-31,1057.568717
4,ZORI,845159,86,"Poughkeepsie, NY",msa,NY,2015-01-31,1169.372109
...,...,...,...,...,...,...,...,...
10830,ZORDI,394634,579,"Gloversville, NY",msa,NY,2024-05-31,98.000000
10831,ZORDI,394326,607,"Amsterdam, NY",msa,NY,2024-05-31,138.000000
10832,ZORDI,394819,621,"Malone, NY",msa,NY,2024-05-31,NaN
10833,ZORDI,394504,629,"Cortland, NY",msa,NY,2024-05-31,31.000000
10834,ZORDI,395084,784,"Seneca Falls, NY",msa,NY,2024-05-31,77.000000

In [7]:
# Convert 'Date' column to datetime format
updated_df['Date'] = pd.to_datetime(updated_df['Date'])

In [8]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10835 entries, 0 to 10834
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SourceDataset  10835 non-null  object
 1   RegionID       10835 non-null  int64
 2   SizeRank       10835 non-null  int64
 3   RegionName     10835 non-null  object
 4   RegionType     10835 non-null  object
 5   StateName      10835 non-null  object
 6   Date           10835 non-null  datetime64[ns]
 7   Value          9825 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 677.3+ KB

### As noted in the info output above, there are 1010 null values in the merged dataframe. In order to fill in the null values, we have calculated the mean of the values by grouping each region by quarter and source. We then input the quarter mean into the Value column if the quarter mean was not null and the previous Value was. This left us with 953 null values which made up less than 10% of the population. As such, we removed those 953 null values leaving our dataframe with 9882 values.

In [9]:
# Add 'Quarter' column based on 'Date'
updated_df['Quarter'] = updated_df['Date'].dt.to_period('Q')

# Group by 'RegionName', 'SourceDataset', and 'Quarter' to calculate mean
quarter_means = updated_df.groupby(['RegionName', 'SourceDataset', 'Quarter'])['Value'].mean().reset_index()

# Merge quarter_means back into the updated_df based on 'RegionName', 'SourceDataset', and 'Quarter'
updated_df = pd.merge(updated_df, quarter_means, on=['RegionName', 'SourceDataset', 'Quarter'], suffixes=('', '_QuarterMean'))

# Fill null values in 'Value' column with corresponding quarter means where available
updated_df['Value'].fillna(updated_df['Value_QuarterMean'], inplace=True)

# Drop the auxiliary 'Value_QuarterMean' column
updated_df.drop(columns='Value_QuarterMean', inplace=True)

# Display the updated_df
updated_df

,SourceDataset,RegionID,SizeRank,RegionName,RegionType,StateName,Date,Value,Quarter
0,ZORI,394913,1,"New York, NY",msa,NY,2015-01-31,2367.192976,2015Q1
1,ZORI,394913,1,"New York, NY",msa,NY,2015-02-28,2382.571737,2015Q1
2,ZORI,394913,1,"New York, NY",msa,NY,2015-03-31,2401.539081,2015Q1
3,ZORI,394425,50,"Buffalo, NY",msa,NY,2015-01-31,805.691732,2015Q1
4,ZORI,394425,50,"Buffalo, NY",msa,NY,2015-02-28,819.385346,2015Q1
...,...,...,...,...,...,...,...,...,...
10830,ZORDI,394819,621,"Malone, NY",msa,NY,2024-05-31,NaN,2024Q2
10831,ZORDI,394504,629,"Cortland, NY",msa,NY,2024-04-30,34.000000,2024Q2
10832,ZORDI,394504,629,"Cortland, NY",msa,NY,2024-05-31,31.000000,2024Q2
10833,ZORDI,395084,784,"Seneca Falls, NY",msa,NY,2024-04-30,65.000000,2024Q2
10834,ZORDI,395084,784,"Seneca Falls, NY",msa,NY,2024-05-31,77.000000,2024Q2

In [10]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10835 entries, 0 to 10834
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SourceDataset  10835 non-null  object
 1   RegionID       10835 non-null  int64
 2   SizeRank       10835 non-null  int64
 3   RegionName     10835 non-null  object
 4   RegionType     10835 non-null  object
 5   StateName      10835 non-null  object
 6   Date           10835 non-null  datetime64[ns]
 7   Value          9882 non-null   float64
 8   Quarter        10835 non-null  period[Q-DEC]
dtypes: datetime64[ns](1), float64(1), int64(2), object(4), period[Q-DEC](1)
memory usage: 762.0+ KB

In [11]:
df_1 = updated_df.dropna().copy()

In [12]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9882 entries, 0 to 10834
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SourceDataset  9882 non-null   object
 1   RegionID       9882 non-null   int64
 2   SizeRank       9882 non-null   int64
 3   RegionName     9882 non-null   object
 4   RegionType     9882 non-null   object
 5   StateName      9882 non-null   object
 6   Date           9882 non-null   datetime64[ns]
 7   Value          9882 non-null   float64
 8   Quarter        9882 non-null   period[Q-DEC]
dtypes: datetime64[ns](1), float64(1), int64(2), object(4), period[Q-DEC](1)
memory usage: 772.0+ KB