# 3. Pre-Processing <a id="data_wrangling"></a>

<a id="contents"></a>
# Table of Contents  
3.1. [Introduction](#introduction) <br>
3.2. [Imports](#imports)  <br>
3.3. [Data Processing](#process)<br>
3.4. [Data Splitting](#split)<br>
3.5. [Save Updated Data](#save)

## 3.1 Introduction<a id="introduction"></a>

The goal of this notebook is to create a cleaned development dataset to be used to complete the modeling step of my project.

## 3.2 Imports<a id="imports"></a>

In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
# Load the dataset
df = pd.read_csv('/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone 3/df_eda.csv')
print("Dataset loaded.")

Dataset loaded.

## 3.3 Data Processing

In [3]:
# Encode Categorical Variables using LabelEncoder for simplicity
label_encoders = {}
for col in df.select_dtypes(include=[object]).columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [4]:
# Define the target variable column and feature columns
target = 'price'
features = df.columns[df.columns != target]

## 3.4 Data

In [5]:
#split the Data into Training and Testing Sets
X = df[features]
y = df[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
std = StandardScaler()

print('\033[1mStandardardization on Training set'.center(120))
Train_X_std = std.fit_transform(X_train)
Train_X_std = pd.DataFrame(Train_X_std, columns=X.columns)
display(Train_X_std.describe())

print('\n','\033[1mStandardardization on Testing set'.center(120))
Test_X_std = std.transform(X_test)
Test_X_std = pd.DataFrame(Test_X_std, columns=X.columns)
display(Test_X_std.describe())

                                         Standardardization on Training set

,city,street_address,state,zipcode,house_type,bathrooms,bedrooms,yearBuilt,latitude,longitude,sqft,school_rating
count,3.052100e+04,3.052100e+04,30521.0,3.052100e+04,3.052100e+04,3.052100e+04,3.052100e+04,3.052100e+04,3.052100e+04,3.052100e+04,3.052100e+04,3.052100e+04
mean,1.096509e-16,1.306033e-16,0.0,3.941381e-16,1.839156e-17,-4.656091e-18,7.100538e-17,2.900745e-16,-4.765509e-15,2.427360e-14,1.210584e-17,-3.850587e-16
std,1.000016e+00,1.000016e+00,0.0,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00
min,-1.361832e+00,-1.731565e+00,0.0,-1.684084e+00,-2.343718e+00,-1.328184e+00,-1.393687e+00,-5.340519e+01,-1.940348e+00,-2.214108e+00,-2.010654e-01,-1.760053e+00
25%,-9.788169e-01,-8.657537e-01,0.0,-1.071468e+00,-9.436615e-01,-4.522164e-01,-4.589373e-01,-6.555934e-01,-8.012181e-01,-9.863026e-01,-1.068113e-01,-5.377261e-01
50%,-4.425961e-01,-4.678381e-03,0.0,6.797071e-01,-1.029060e-02,1.317620e-01,-4.589373e-01,-2.404602e-01,-8.808790e-02,1.959151e-01,-7.053181e-02,-2.955106e-01
75%,1.395875e+00,8.675998e-01,0.0,9.988190e-01,9.230803e-01,1.317620e-01,4.758124e-01,6.174819e-01,6.648476e-01,7.700175e-01,-1.981308e-02,2.950307e-01
max,1.549081e+00,1.731863e+00,0.0,1.650832e+00,1.856451e+00,6.845725e+01,5.656080e+01,6.955183e+00,2.252052e+00,1.757649e+00,7.138852e+01,4.405198e+00

                                          Standardardization on Testing set

,city,street_address,state,zipcode,house_type,bathrooms,bedrooms,yearBuilt,latitude,longitude,sqft,school_rating
count,7631.000000,7631.000000,7631.0,7631.000000,7631.000000,7631.000000,7631.000000,7631.000000,7631.000000,7631.000000,7631.000000,7631.000000
mean,-0.012009,-0.000099,0.0,0.015483,0.017719,-0.022930,-0.025371,-0.007907,-0.001151,0.002552,0.006812,-0.002343
std,0.996944,0.999111,0.0,1.000910,0.997708,0.875589,0.929191,1.299746,0.999637,0.992114,0.970562,0.985877
min,-1.361832,-1.731474,0.0,-1.684084,-2.343718,-1.036195,-1.393687,-53.903352,-1.939643,-2.218058,-0.201065,-1.760053
25%,-0.978817,-0.866801,0.0,-1.071468,-0.943662,-0.452216,-0.458937,-0.655593,-0.807167,-0.965950,-0.106811,-0.537726
50%,-0.442596,0.019276,0.0,0.685617,-0.010291,-0.452216,-0.458937,-0.240460,-0.080416,0.205351,-0.070532,-0.304369
75%,1.395875,0.859539,0.0,0.998819,0.923080,0.131762,0.475812,0.589806,0.681834,0.757866,-0.020648,0.295031
max,1.549081,1.731225,0.0,1.650832,1.856451,17.067138,21.507681,58.791488,2.241914,1.762257,49.829874,4.405198

## 3.5 Save Data

In [7]:
# Save the split data
X_train.to_csv('/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone 3/X_train.csv', index=False)
X_test.to_csv('/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone 3/X_test.csv', index=False)
y_train.to_csv('/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone 3/y_train.csv', index=False)
y_test.to_csv('/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone 3/y_test.csv', index=False)

print("\nPre-processing Complete. Split datasets saved to CSV files.")

Pre-processing Complete. Split datasets saved to CSV files.